In [1]:
import requests
import os
from pprint import pprint
import csv
import json
import time
import pandas as pd

In [ ]:
### combining all the json files (a list of dictionaries) combine into a main dictionary with just abstracts and

In [2]:
abstract_date_df={'abstract':[],'date':[]}

In [3]:
for i in range(0,91):
    file_name="clinton_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [4]:
for i in range(0,91):
    file_name="clinton1_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [5]:
for i in range(0,91):
    file_name="clinton2_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [6]:
for i in range(0,91):
    file_name="clinton3_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [7]:
for i in range(0,91):
    file_name="clinton4_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [8]:
for i in range(0,91):
    file_name="clinton5_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [9]:
for i in range(0,91):
    file_name="clinton6_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [10]:
for i in range(0,91):
    file_name="clinton7_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [11]:
for i in range(0,83):
    file_name="clinton8_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [12]:
for i in range(0,91):
    file_name="clinton9_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [13]:
for i in range(0,91):
    file_name="clinton10_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [14]:
for i in range(0,84):
    file_name="clinton11_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [15]:
for i in range(0,91):
    file_name="clinton12_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [16]:
for i in range(0,91):
    file_name="clinton13_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [17]:
for i in range(0,91):
    file_name="clinton14_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [18]:
for i in range(0,64):
    file_name="clinton15_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [19]:
for i in range(0,91):
    file_name="clinton16_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [20]:
for i in range(0,65):
    file_name="clinton17_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [21]:
for i in range(0,38):
    file_name="clinton18_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [22]:
for i in range(0,40):
    file_name="clinton19_{num}.json".format(num=i)
    with open(file_name, 'r') as output_file:
        list=json.load(output_file)
    for i in range(len(list)):
        abstract_date_df['abstract'].append(list[i]['abstract'])
        abstract_date_df['date'].append(list[i]['pub_date'])

In [23]:
df_clinton=pd.DataFrame.from_dict(abstract_date_df)

In [24]:
df_clinton.to_csv("clinton_csv", index=False, header=True)

In [25]:
df_clinton

,abstract,date
0,Jeanine F. Pirro's bid to unseat Senator Hilla...,2005-11-30T05:00:00+0000
1,"Senator Hillary Rodham Clinton, in her stronge...",2005-11-30T05:00:00+0000
2,"As her race for re-election begins in earnest,...",2005-11-13T05:00:00+0000
3,Hillary Rodham Clinton may be running for re-e...,2005-11-15T05:00:00+0000
4,"As former President Bill Clinton and his wife,...",2005-11-14T05:00:00+0000
...,...,...
16436,David Langton letter questions FEMA's casual d...,2003-08-01T05:00:00+0000
16437,An article on Feb. 26 about Senator John Kerry...,2003-03-11T05:00:00+0000
16438,Today's corrections from The Times.,2003-03-12T05:00:00+0000
16439,Corrections,2003-06-26T05:00:00+0000
16440,Corrections,2003-12-24T05:00:00+0000